/* Training Session Details */
/* Title for Training Session */
#sectionTitle{
  text-align: center;
  font-weight: 600;
  padding: 2px;
  color: white;
}

/* Content for Training Session Details*/
#sectionContent{
  font-size: small;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 4px 10px 10px 4px;
  color: white;
  text-align: justify;
  opacity: 0.9;
}

/* Line to Divide sections*/
#contentDivider{
  width:auto;
  height: 1px;
  background-color: whitesmoke;
  margin-top: 16px;
}

#mLogo{
border-radius: 50%;
}