/* Fitnesst Test Cards*/
/* Fitness Test Cards in Grid View CSS*/
#ftGridCards{
    width: 40%;
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    margin-bottom: -1%;
    opacity: 0.9;
}

/* Text for Fitness Test Cards*/
#fDate, #fDifficulty, #fTime{
    padding: 3px;
}

/* Title for Fitness Test Cards*/
#fTitle{
    padding: 4px;
    font-weight: bold;
    font-size: large;
}



/* Fitness Test Details */
/* Title for Fitness Test Details*/
#sectionTitle{
    text-align: center;
    font-weight: 600;
    padding: 2px;
    color: white;
}

/* Content for Fitness Test Details*/
#sectionContent{
    font-size: small;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    margin: 4px 10px 10px 4px;
    color: white;
    text-align: justify;
    opacity: 0.9;
}

#fIcon{
    position: relative;
    padding: 0px;
}

/* CSS for background color*/
#ft-bg-color{
    background-color: black;
    opacity: 0.95;
}

/* CSS for background Image*/
#ft-bg-img{
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614343037/FYP-GAAhead/sport-4637549_640_fzllpq.jpg");
    opacity: 0.4;
    min-height:426;
}

/* Line to Divide sections*/
#contentDivider{
    width:auto;
    height: 1px;
    background-color: whitesmoke;
    margin-top: 16px;
}

/* Auth CSS ID or input fields*/
#rndInput {
    margin: 25px 20px 0px 30px;
    border-radius: 8px;
    border: 2px solid grey;
    color: black;
}