/* Fitnesst Test Cards*/
/* Fitness Test Cards in Grid View CSS*/
#dGridCards{
   width: 40%;
   display: inline-block;
   background-color: black;
   color: whitesmoke;
   margin-bottom: -1%;
   opacity: 0.9;
}

/* Text for Diary Cards*/
#dDate, #dDifficulty, #dTime{
   padding: 3px;
}

/* Title for Diary Cards*/
#dTitle{
   padding: 4px;
   font-weight: bold;
   font-size: large;
}