/* Player Cards in Grid View CSS*/
#playerGridCards{
  width: 40%;
  display: inline-block;
  background-color: black;
  color: whitesmoke;
}

/* Player Title CSS*/
#pName{
  font-size: large;
  font-weight: bold;
  /*top - right - bottom - left*/
  padding: 6px 0px 0px 0px;
}

/* Player Age, Position CSS*/
#pAge, #pPosition{
   /*top - right - bottom - left*/
   padding: 2px 0px 0px 0px;
   opacity: 0.8;
}