/* Team Stats Details */
/* Title for Team Stats*/
#statTitle {
  text-align: center;
  font-weight: 400;
  color: white;
}

/* Content for Team Stats*/
#statContent {
  font-size: small;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 30px 10px 10px 10px;
  color: white;
  text-align: justify;
  opacity: 0.9;
}

/* Line to Divide sections*/
#contentDivider {
  width: auto;
  height: 1px;
  background-color: whitesmoke;
}


/* CSS for background Image*/
#ft-bg-img {
  background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614342908/FYP-GAAhead/dumbbell-1966702_640_nnljil.jpg");
  opacity: 0.8;
  min-height: 300px;
  display: block;
  margin: auto;
}