/* Fitnesst Test Cards*/
/* Fitness Test Cards in Grid View CSS*/
#ftGridCards{
   width: 40%;
   display: inline-block;
   background-color: #5ac7fa;
   color: whitesmoke;
   margin-bottom: -1%;
}

/* Text for Fitness Test Cards*/
#ftDate, #ftDifficulty, #ftTime{
   padding: 3px;
}

/* Title for Fitness Test Cards*/
#ftTitle{
   padding: 4px;
   font-weight: bold;
   font-size: large;
}