
#row1{
  background-color: lightslategray;
  padding: 10px;
  text-align: center;
}

#row2{
  background-color:lightgrey;
  padding: 10px;
  text-align: center;
}

#row3{
  background-color:lightsteelblue;
  padding: 10px;
}

ion-content,ion-item, ion-list{
  --color: #ffffff;
  --background: #121212;
}

#bg-col{
  background-color: #121212;
}


#navLnk{
  color: white;
  width:100%;
  margin-left:auto;
  display:block;
  padding: 70px 0;
  text-align: center;
}

/* red - #ff3b30*/
/* yellow - #ffcc00*/
/* orange - #ff9500*/
/* green - #4cd963*/
/* teal blue - #5ac7fa*/
/* blue - #007bff*/
/* purple - #5856d6*/
/* pink - #ff2d54*/



