/* Fitness Test Details */
/* Title for Fitness Test Details*/
#sectionTitle {
  text-align: center;
  font-weight: 600;
  padding: 2px;
  color: white;
}

/* Content for Fitness Test Details*/
#sectionContent {
  font-size: small;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 4px 10px 10px 4px;
  color: white;
  text-align: justify;
  opacity: 0.9;
}

#contentText{
  font-size: medium;
  padding: 5px;
  margin: 5px;
}

/* Line to Divide sections*/
#contentDivider {
  width: auto;
  height: 1px;
  background-color: whitesmoke;
  margin-top: 16px;
}


/* CSS for background color*/
#ft-bg-color {
  background-color: black;
  opacity: 0.95;
}

/* CSS for background Image*/
#ft-bg-img {
  background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614342908/FYP-GAAhead/dumbbell-1966702_640_nnljil.jpg");
  opacity: 0.8;
  min-height: 300px;
  display: block;
  margin: auto;
}


/* Add Fitness Test */
/* CSS ID or input fields*/
#rnd-input {
  border: 2px solid black;
  color: black;
  border-radius: 8px;
  background-color: grey;
}