/* red - #ff3b30*/
/* yellow - #ffcc00*/
/* orange - #ff9500*/
/* green - #4cd963*/
/* teal blue - #5ac7fa*/
/* blue - #007bff*/
/* purple - #5856d6*/
/* pink - #ff2d54*/

/* CSS ID or input fields*/
#header-divider-teal {
  background-color: #5ac7fa;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

#header-divider-gaa {
  background-color: #005E82;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-red {
  background-color: #ff3b30;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-org {  
  background-color: #ff9500;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-ylw {
  background-color: #ffcc00;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-grn {
  background-color: #4cd963;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-blue {
  background-color: #007bff;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* CSS ID or input fields*/
#header-divider-prpl {
  background-color: #5856d6;
  color: white;
  font-size: large;
  padding: 6px;
  opacity: 0.95;
  border-radius: 4px;
}

/* Add Fitness Test */
/* CSS ID or input fields*/
#rnd-input {
  border: 2px solid black;
  color: white;
  border-radius: 8px;
  background-color: grey;
}