/* Match Fixture Cards*/

/* Common CSS */
#fCompetition,
#fVenue,
#fTime,
#fDate {
  color: black;
  padding: 12px;
  font-weight: 600;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 14px;
}

/*Fixture Time & Date CSS */
#fTime,
#fDate {
  background-color: #005E82 !important;
  color: white !important;
  padding: 5px !important;
}


/* Name for both teams*/
#fTeamName {
  color: black;
  padding-top: 10px;
  display: block;
  margin: auto;
  font-weight: 600;
  text-align: center;
  font-size: medium;
}