/* Training Schedule Cards*/
/* Training Schedule in Grid View CSS*/
#tStatsGridCards {
   width: 40%;
   display: inline-block;
   background-color: #ff3b30;
   color: whitesmoke;
   margin-bottom: -1%;
   opacity: 0.8;
}

/* Text for Training Schedule Cards*/
#tStatsGames {
   padding: 3px;
}

/* Title for Training Schedule Cards*/
#tStatsYear {
   padding: 4px;
   font-weight: bold;
   font-size: large;
}