/* My Profile */


#bg-col {
  background-color: #121212;
}
/* CSS for background Image*/
#my-bg-img {
  background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614895089/FYP-GAAhead/croke-park-football-generic_fn4osr.jpg");
  opacity: 0.8;
  min-height: 200px;
  min-width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#my-bg {
  background-color: #5ac7fa;
  width: 100%;
  min-height: 16em;
  max-height: 20em;
  margin-top:0px;
}

#myName {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

#myEmail {
  display: flex;
  justify-content: center;
  font-size: large;
}

#myProfileImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


#teamId, #title {
  margin-top: 2px;
  color: white;
  font-size: medium;
}


#lgBtn {
  font-size: large;
  display: flex;
  justify-content: center;
}

/* Content title for My Profile Details*/
#myContentTitle {
  text-align: center;
  font-weight: 600;
  padding: 2px;
  color: white;
  display: flex;
  justify-content: center;
  font-size:large;
}

/* Content section for My Profile Details*/
#myContent {
  font-size: small;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 25px 4px 10px 4px;
  color: black;
  text-align: justify;
  opacity: 0.9;
}