/* Diary Entry Cards*/
/* Fitness Test Cards in Grid View CSS*/
#dGridCards {
    background-color: black;
    color: whitesmoke;
    margin-bottom: -1%;
    opacity: 0.9;
}

/* Text for Diary Entry  Cards*/
#dDate,
#dDifficulty,
#dTime {
    padding: 3px;
}

/* Title for Diary Entry  Cards*/
#dTitle {
    padding: 4px;
    font-weight: bold;
    font-size: large;
}

/* Diary Entry Details */
/* Title for Diary Entry  Details*/
#sectionTitle {
    text-align: center;
    font-weight: 600;
    padding: 2px;
    color: white;
}

/* Content for Diary Entry  Details*/
#sectionContent {
    font-size: small;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    margin: 4px 10px 10px 4px;
    color: white;
    text-align: justify;
    opacity: 0.9;
}

#dIcon {
    position: relative;
    padding: 0px;
}

/* CSS for background color*/
#d-bg-color {
    background-color: black;
    opacity: 0.95;
}

/* CSS for background Image*/
#d-bg-img {
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614708839/FYP-GAAhead/chicken-1199243__340_xlz1io.webp");
    opacity: 0.9;
    min-height: 280px;
    max-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Line to Divide sections*/
#contentDivider {
    width: auto;
    height: 1px;
    background-color: whitesmoke;
    margin-top: 16px;
}