/* Auth CSS ID for page attr*/
#authContainer {
    width: 90%; 
    margin-left:auto; 
    margin-right: auto; 
    margin-top: 100px;
    text-align: center;
}

/*Auth CSS for page title*/
#pgTitle{
    text-align: center;
    font-weight:bold;
    font-size: xx-large;
    margin-bottom: 50px;
}

/* Auth CSS ID or input fields*/
#rndInput {
    margin-top: 25px;
    border-radius: 8px;
    border: 2px solid grey;
    color: whitesmoke;
}

#pg-col{
    background-color: #121212;
}
