/*  CSS for Logo Buttons*/
#logoBtnTheme{
    /*top - right - bottom - left*/
    margin: 10px 00px 0px 0px;
    text-align: center;
}

/* CSS for Regular buttons*/
#btnTheme{
    /*top - right - bottom - left*/
    margin: 20px 20px 20px 20px;
    text-align: center;
    border-radius: 20px;
}

/* red - #ff3b30*/
/* yellow - #ffcc00*/
/* orange - #ff9500*/
/* green - #4cd963*/
/* teal blue - #5ac7fa*/
/* blue - #007bff*/
/* purple - #5856d6*/
/* pink - #ff2d54*/


/* red - #ff3b30*/
#navBtnRed{
    background-color:#ff3b30;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614895409/FYP-GAAhead/Seating_rgtomv.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* yellow - #ffcc00*/
  #navBtnYlw{
    background-color:#ffcc00;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614895405/FYP-GAAhead/pitch_flag_epoxvy.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* orange - #ff9500*/
  #navBtnOrg{
    background-color:#f69c55;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614895089/FYP-GAAhead/croke-park-football-generic_fn4osr.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* green - #4cd963*/
  #navBtnGrn{
    background-color:#4cd963;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614895407/FYP-GAAhead/pitchView_wbrl7p.jpg");
    background-blend-mode: multiply;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* teal blue - #5ac7fa*/
  #navBtnTeal{
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614894817/FYP-GAAhead/ball-5201524_640_kph3bm.jpg");
    background-blend-mode: multiply;
    background-color:#5ac7fa;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* blue - #007bff*/
  #navBtnBlue{
    background-color:#007bff;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614343037/FYP-GAAhead/sport-4637549_640_fzllpq.jpg");
    background-blend-mode: multiply;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }
  
  /* purple - #5856d6*/
  #navBtnPrpl{
    background-color:#5856d6;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614894817/FYP-GAAhead/ball-5201524_640_kph3bm.jpg");
    background-blend-mode: multiply;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;

  }
  
  /* pink - #ff2d54*/
  #navBtnPnk{
    background-color:#ff2d54;
    background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1614343037/FYP-GAAhead/sport-4637549_640_fzllpq.jpg");
    background-blend-mode: multiply;
    display:inline-block;
    border: 2px solid #121212;
    font-size:x-large;
    font-weight: bold;
  }

*{
  font-family: 'Franklin Gothic Medium';
}  

ion-content,ion-item, ion-list{
  --color: #ffffff;
  --background: #121212;
}

@font-face {
  font-family: 'gotham';
  src: local('Gotham'), ur("./globals/fonts/GothamRounded-Medium.ttf") format('truetype');
}
  



