/* Training Schedule Cards*/
/* Training Schedule in Grid View CSS*/
#tshGridCards {
   width: 40%;
   display: inline-block;
   background-color: #5ac7fa;
   color: whitesmoke;
   margin-bottom: -1%;
}

/* Text for Training Schedule Cards*/
#teamDate,
#teamDifficulty,
#teamTime {
   padding: 3px;
}

/* Title for Training Schedule Cards*/
#teamTitle {
   padding: 4px;
   font-weight: bold;
   font-size: large;
}