/* Fitness Test Details */
/* Title for Fitness Test Details*/


/* Content section for My Profile Details*/
#myStat {
  font-size: small;
  padding: 6px;
  border: 1px solid black;
  background-color: #5ac7fa;
  border-radius: 20px;
  color: black;
  text-align: justify;
}

#myStatVar {
  font-size: large;
  display: flex;
  justify-content: center;
}

#myStatTitle {
  font-size: small;
  display: flex;
  justify-content: center;
}

#myStatIcon {
  font-size: small;
  display: flex;
  justify-content: center;
}

/* Stat Bar for Training Schedule*/
#StatVar {
  font-size: medium;
  display: flex;
  padding-top: 6px;
  justify-content: center;
}

/* Stats for Fixture Details*/
#statValue,
#statTitle {
  font-size: medium;
  padding-top: 6px;
}

#StatIcon {
  position: relative;
  padding: 0px;
  display: flex;
  justify-content: center;
}