/* Match Result Cards*/

/* Common CSS */
#rCompetition,
#rVenue,
#rTime,
#rDate,
#rScore {
  color: black;
  padding: 12px;
  font-weight: 600;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 14px;
}

/*Match Result Date CSS */
#rDate {
  background-color: #5856d6 !important;
  color: white !important;
  padding: 5px !important;
}

#rScore {
  padding: 5px !important;
  font-size: medium;
}

/*Match Result Time CSS */
#rScore {
  background-color: #5856d6;
  color: white !important;
}

/* Logo for both teams*/
#rLogo {
  background-image: url("https://res.cloudinary.com/dmikx06rt/image/upload/v1617222477/FYP-GAAhead/b_wCrest_d2vjke.jpg");
}

#rTeamName {
  color: black;
  padding-top: 10px;
  display: block;
  margin: auto;
  font-weight: 600;
  text-align: center;
  font-size: medium;
}